header{
	width: 99%;
	height: 20%;
	position: absolute;
	top: 0%;
	left: 0.5%;
	background-color: rgb(255,240,230)
}
span#title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 5vh;
}
contents{
	width: 99%;
	height: 75%;
	position: absolute;
	top: 20%;
	left: 0.5%;
	background-color: rgb(255,240,210);
	border: 0;
	overflow: auto;
}

footer{
	width: 99%;
	height: 5%;
	position: absolute;
	bottom: 0%;
	left: 0.5%;
	text-align: center;
}